###
# Unity folders and files
###
IGNORAR
[Aa]ssets/AssetStoreTools*
[Bb]uild/
[Ll]ibrary/
[Ll]ocal[Cc]ache/
[Oo]bj/
[Tt]emp/
[Ll]ogs/
[Uu]nityGenerated/
# file on crash reports
sysinfo.txt
# Unity3D generated meta files
*.pidb.meta

###
# VS/MD solution and project files
###
[Ee]xportedObj/
*.booproj
*.csproj
*.sln
*.suo
*.svd
*.unityproj
*.user
*.userprefs
*.pidb
.DS_Storesysinfo.txt
sysinfo.txt
.hg
.git
 .vs
*.DS_store

###
# OS generated
###
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

#sketch scripts
Project/Assets/Scripts/MovimJugador.*
Project/Assets/Scripts/BouncyMov.*


# Common IntelliJ Platform excludes

.idea

# User specific
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/shelf/*
.idea/dictionaries
.idea/httpRequests/

# Sensitive or high-churn files
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.xml
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml

# Rider
# Rider auto-generates .iml files, and contentModel.xml
.idea/**/*.iml
.idea/**/contentModel.xml
.idea/**/modules.xml

*.suo
*.user
.vs/
[Bb]in/
[Oo]bj/
_UpgradeReport_Files/
[Pp]ackages/

Thumbs.db
Desktop.ini
.DS_Store
